.people-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.people-category{
    font-size: 24pt;
    margin: 10px;
}
.container{
    height: 25%;
    width: 100%;
    padding: 5px;
    border-bottom: 2px solid black;
}
.container img{
    height: 100%;
    width: 100%;
}
.row{
    display: flex;
}
.col1{
    width: 15%;
    height: 15%;
    margin: 20px;
    margin-left: 0%;
    margin-right: auto;
    text-align: center;
}
.col2{
    width: 15%;
    height: 15%;
    margin: 20px;
    margin-left: 0%;
    margin-right: auto;
    text-align: center;
}
.col3{
    width: 15%;
    height: 15%;
    margin: 20px;
    margin-left: 0%;
    margin-right: auto;
    text-align: center;
}
.col4{
    width: 15%;
    height: 15%;
    margin: 20px;
    margin-left: 0%;
    margin-right: auto;
    text-align: center;
}

