@import url('http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    position: absolute;
    min-height: 100vh;
    background: linear-gradient(rgb(106, 106, 214), rgb(196, 182, 182))
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100000;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 3em;
    text-transform: uppercase;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: rgb(0, 0, 134);
}
.spacer{
    aspect-ratio: 960/540;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.layer{
    background-image: url('images/layer.svg');
}
.wave{
    background-image: url('images/stacked-peaks-haikei.svg');
}
/* 
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    justify-content: center;
    align-items: center;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgb(69, 0, 93),transparent);
    z-index: 1000;
}
section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
.about-section
{
    display: flex;
    position: relative;
    padding: 100px;
    text-transform: uppercase;
    background: #390476df;
    overflow: auto;
}
.about-section h2
{
    padding-top: 7.5%;
    flex: 1;
    font-size: 3.5em;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
    letter-spacing: 0.05rem;
}
.about-section p
{
    width: 55%;
    margin-right: 30px;
    font-size: 1.35em;
    text-align: right;
    color: #fff;
    letter-spacing: 0.05rem;
    line-height: 1.9em;
}
.info_card
{
    display: flex;
    position: relative;
    text-transform: uppercase;
    padding: 100px;
    background-color: #038373;
}
.info_card h2
{
    padding-top: 7.5%;
    flex: 1;
    font-size: 3.5em;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
    letter-spacing: 0.05rem;
}
.info_card p
{
    width: 55%;
    margin-right: 30px;
    padding-top: 3.5%;
    font-size: 1.55em;
    text-align: right;
    color: #fff;
    letter-spacing: 0.05rem;
    line-height: 1.9em;
}
